


<div class="card text-center ">
  <div class="card-header">
    Featured 
  </div>
  <div class="card-body">
    <h4 class="card-title">Contact US </h4>


          
              <div class="text-center center-block">
                  
                  <br />
                      <a href="https://www.facebook.com/mouhamed.chaker"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a ><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a ><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a ><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
          


   
  </div>
  <div class="card-footer text-muted">
    All rights reserved © 2018 - ChakerZ Prod
  </div>
</div>