


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <app-livre></app-livre>
    </div>
    <div class="col-sm-4">
      <!--<app-livre2></app-livre2>-->
    </div>
    <div class="col-sm-4">
     <!-- <app-livre3></app-livre3>-->
    </div> 
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <!--<app-livre4></app-livre4>-->
    </div>
    <div class="col-sm-4">
      <!-- <app-livre5></app-livre5>-->
    </div>
    <div class="col-sm-4">
      <!--<app-livre6></app-livre6>-->
    </div> 
  </div>
</div><br>





